.title {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: start;
    margin-bottom: 1.5rem;
}

.tags_row {
    display: flex;
    flex-wrap: wrap;
}

.tags_block {
    width: 100%;
}

@mixin tablets {
    tags_block {
        display: none;
    }
}