@import "./../../variables.module";

.carousel_images {
  display: none;
}

@media screen and( max-width: 768px) {
  .carousel .thumbs {
    display: flex;
    justify-content: center;
  }
  .carousel .thumb {
    padding: 0;
  }

  .carousel .thumb.selected,
  .carousel .thumb:hover {
    border: 3px solid $green;
    border-radius: 12px;
  }

  .carousel .thumb img {
    border-radius: 9px;
    padding: 0;
    overflow: hidden;
  }
  .carousel_images {
    display: block;
  }
}
