@import "./../../../variables.module";
.comment_item {
    border: 1px solid $border;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
    width: 500px;

    &:nth-child(even) {
        width: 100%;
    }
    &:nth-child(odd) {
        margin-left: auto;
    }
}
.autor_block {
    display: flex;
    align-items: flex-start;

    .autor_container {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
    }
    
    &__avatar {
        border-radius: 50%;
        overflow:hidden;
        margin-right: 10px;
        width: 42px;
        height: 42px;
        display: flex;
        flex-direction: column;
    }

    &__autor_name {
        margin-right: 20px;
        font-weight: 600;
        margin-bottom: 4px;
        display: flex;
        align-items: center;

        .autor_status {
            padding: 2px 8px;
            background-color:$green_light ;
            color: $green;
            font-weight: 600;
            border-radius: 12px;
            margin-left: 6px;
        }
    }

    &__data {
        color: $black_active;
    }
}