.blog_page {

    &__main_row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    &__section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;

    }

    &_items_block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 870px;
        width: 100%;
    }

}