.blog_page {

    &__main_row {
        display: flex;
        justify-content: space-between;
        margin: 0 -1rem;
        margin-bottom: 2rem;
        
        .blog_big_item__link {
            margin: 0 1rem;
        }
    }

    &__section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        aside {
            margin-right: 1rem;
        }

    }

    &_items_block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 870px;
        width: 100%;
        // margin: 0 -1rem;

        .blog_mid_item {
            // margin: 0 1rem;
            width: 31%;
        }
    }

}

@media screen and (max-width:1000px) {

    .blog_page {
        aside {
          display: none;
        }
    
        &_items_block {
          max-width: unset;
        }
    
        .blog_mid_item {
          max-width: 284px;
        }
      }
    
}