.blog_small_item {
    display: flex;
    max-width: 370px;
    // margin-bottom: 2rem;

    &__info_blog {
        margin-bottom: 1rem;
        margin-right: 1.5rem;
    }

    .autor_block {
        display: flex;
        align-items: center;
        color: black;
        
        &__avatar {
            border-radius: 50%;
            overflow:hidden;
            margin-right: 1rem;
            width: 32px;
            height: 32px;
        }

        &__autor_name {
            margin-right:1.5rem;
        }
    }

    .blog_small_item__block_img {
        min-width: 96px;
        height: 96px;
        border-radius: 12px;
        overflow: hidden;
    }
}