@import "../../../../variables.module";

.tag_block {
    background: $grey;
    border-radius: 12px;
    margin: 10px;
    display: inline;
}


.tag_block__green {
    background: $green;
    border-radius: 12px;
    margin: 10px;
    display: inline;
}

.tag_text {
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
}
