@import "../../../../variables.module";

.tag_block {
    background: $grey;
    border-radius: 12px;
    margin: 1rem;
    display: inline;
}


.tag_block__green {
    background: #F4F8EC;
    border-radius: 12px;
    color:$green;
    margin: 0.5rem;
    display: inline;
}

.tag_text {
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    padding: 0px 0.5rem;
}
