.blog_mid_item {
    max-width: 270px;
    border-radius: 12px;

    &__info_blog {

        color:#fff;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding-bottom: 1.5rem ;
        
        .autor_block {
            display: flex;
            align-items: center;
            color: black;
            
            &__avatar {
                border-radius: 50%;
                overflow:hidden;
                margin-right: 1rem;
                width: 32px;
                height: 32px;
            }

            &__autor_name {
                margin-right: 1.5rem;
            }
        }

    }

}
