@import "./../../../variables.module";

.blog_item_large {
    position: relative;
    overflow: hidden;
    border-radius: 12px;

    &__img {
        overflow: hidden;
    }

    &__info_blog {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 32px;
        position: absolute;
        background: linear-gradient(to bottom,transparent,#000);
        bottom:0;
        right: 0;
        left: 0;
        top:100px;
    }

    &__info_list {
        display: flex;
        flex-direction: column;
        margin-right: 32px;
    }

    &__list_item {
        color: $black_active;
        display: flex;
        justify-content: space-between;
        width: 150px;
        margin-bottom: 12px ;

        &__value {
            color: white;
            text-decoration: underline;
        }
    }

}