@import './../../../variables.module';

.menu_container {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    background-color: $grey;

    
    @media screen and (max-width:768px){
        display: none;
    }
}

