.header__container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1260px;
  width: 100%;
}

.middle_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  // position: relative;
}

.person_block {
  display: flex;
  width: 100%;
  max-width: 100px;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb_view_selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category_page__title {
  font-weight: 600;
  padding: 0 3rem;
  font-size: 2rem;
}