@import "./../../../variables.module";

.block {
  height: 42px;
  width: 500px;
  background-color: $grey;
  border: 1px solid $border;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 16px;
  box-sizing: border-box;
}
