@import "./../../../variables.module";

.block {
  height: 42px;
  max-width: 500px;
  width: 100%;
  background-color: $grey;
  border: 1px solid $border;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .block {
    width: 50%;
  }
}

@media screen and (max-width: 540px) {
  .block {
    width: 70%;
  }
}
