.footer {
  background-color: #fff;
  padding-top: 20px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1260px;
    width: 100%;
    padding: 0 40px;
  }

  .navigation_lists {
      display: flex;
      justify-content: space-between;
  }
}
