@import "./../../../variables.module";

.category_menu {
  &__list {
    margin-top: 1rem;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__link {
    color: #6a983c;
    font-size: 1rem;
    font-weight: 40;
    text-decoration: underline;
  }

  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .category_menu {
    display: none;
  }
}
