.category_menu {
   
   &__list {
        margin-top: 1rem;
    }

    &__item {
        margin-bottom: 1rem;
    }

    &__link {
        color: #6A983C;
        font-size: 1rem;
        font-weight: 40;
        text-decoration: underline;
    }

    margin-bottom: 1.5rem;
}

