.select {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  padding-right: 0.5rem;
  cursor: pointer;
  outline: none;
}

.option {
  font-weight: 700;
  font-size: 1rem;

  &:hover {
  }
}

@media screen and (max-width: 768px) {
  .select {
    display: none;
  }
}
