@import "../../../variables.module";

.navigation {
  width: 100%;
  display:flex;
  border-bottom: 2px solid rgba(21,21,21,0.15);

}

.info_list{
  display: flex;
  justify-content: flex-start;
  padding: 1.5rem;
  width: 100%;
  align-items: center;

  &__item {
    margin-right: 1.5rem;
    text-align: center;
  }
  
  &__link {
    color:$green;
    transition: all ease .3s;

    &:hover {
      color:$green_hover;
      text-decoration: underline;
    }
  }

  &:last-child{
    justify-content: flex-end;
  }
}


@media screen and (max-width:768px) {
  .info_list__item {
    
  }
}