.product_link {
    width: 30%;
}


.product_item {
    max-width: 270px;
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    padding: 1rem;
    // margin: 0 -1rem;
    margin-bottom: 2rem;

    &__img_block {
        background-color: #F9F9F9;
        max-width: 270px;
        max-height: 180px;
        border-radius: 12px;
        overflow: hidden;
        height: 100%;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__title {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
    }

    &__subtitle {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    &__rating {
        margin-bottom: 1rem;
    }

    &__price_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 27px;
        text-transform: uppercase;

        @media screen and (max-width:1050px) {
            font-size: 1.3rem;
        }
    }

    &__btn {
        margin-top: 0px !important;
    }

}

@media screen and (max-width:1000px){

    .product_item {
        // margin-bottom: 0;
  
        &__subtitle {
          font-size: 1rem;
        }
      }  
}


@media screen and(max-width:768px) {
    .product_item {
        height: 260px;
        align-items: center;
    
        &__subtitle {
          display: none;
        }
    
        &__price_block {
          flex-direction: column;
        }
    
        &__price {
          margin-bottom: 0.5rem;
        }
    
        &__rating {
          margin-bottom: 0.5rem;
        }
    
        &__img_block {
          margin-bottom: 0.5rem;
        }
      }
}


@media screen and (max-width:540px) {

    .product_item__price_block {
        flex-direction: column;
      }
    
      .product_item__price {
        margin-bottom: 0.5rem;
        margin-right: 0;
      }
}