@import './../../variables.module';

.breadcrumbs__container {
    padding: 1rem  0rem;
    width: 50%;
}

.MuiBreadcrumbs-li,
.MuiBreadcrumbs-separator  {
   color:$black-active;
}

.MuiBreadcrumbs-li a[aria-current="page"]{
    color: black;
}

@media screen and (max-width:1000px) {
    
    .breadcrumbs__container {
        display: none;
      }
}