.category_section_row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

.recipes_container {
    display: flex;
    justify-content: space-between;
    width: 75%;
}