.category_section_row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 64px 0px;
}

.recipes_container {
    display: flex;
    justify-content: space-between;
    width: 75%;
}