@import "./_variables.module.scss";

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

img {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 400;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  color: $black;
}

a {
  color: $black;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("./assets/img/background.jpg");
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

.body__container {
  max-width: 1260px;
  background-color: #fff;
  width: 100%;
  padding: 0 3rem;
}

.MuiSlider-root {
  color: $green !important;
}

@mixin desktop {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .body__container {
    padding: 0 1rem;
  }
}
