@import "../../../_variables.module.scss";

.filter__buttons_block {
  margin-top: 1.5rem;
}

.btn {
  transition: all ease 0.3s;

  &:hover {
    transform: scale(1.05);
    background: $green_hover;
  }
}
